.admin .table-wrapper {
  background-color: white;
  padding: 20px 20px;
  margin-top: 20px;
  padding-bottom: 40px;
  position: relative;
}
.admin .modal-trigger {
  position: absolute;
  bottom: -28px;
  right: 20px;
}
.admin tr {
  border-bottom: 1px solid #dddddd;
}
.admin .tabs-wrapper {
  margin-top: 45px;
}
.admin .tabs {
  background: transparent;
  margin-bottom: 20px;
}
.admin #modalResource {
  width: 45%;
}
.admin #modalResource .row {
  margin-bottom: 0px;
}
