.admin .table-wrapper {
  background-color: white;
  padding: 20px 20px;
  margin-top: 20px;
  padding-bottom: 40px;
  position: relative;
}
.admin .modal-trigger {
  position: absolute;
  bottom: -28px;
  right: 20px;
}
.admin tr {
  border-bottom: 1px solid #dddddd;
}
.admin .tabs-wrapper {
  margin-top: 45px;
}
.admin .tabs {
  background: transparent;
  margin-bottom: 20px;
}
.admin #modalResource {
  width: 45%;
}
.admin #modalResource .row {
  margin-bottom: 0px;
}
.admin .constant-input {
  width: 65%;
}
.admin .input-wrapper {
  position: relative;
  display: inline;
}
.admin .input-wrapper span {
  position: absolute;
  top: -1px;
  left: 0px;
}
.admin #constants table {
  position: relative;
}
.admin #constants td {
  padding: 8px 5px;
}
.admin #constants .thead-line {
  display: block;
  width: 100%;
  background-color: #dddddd;
}
.admin #constants .progress, .admin #constants .thead-line {
  position: absolute;
  top: 72px;
  left: 0px;
  z-index: 20;
  height: 2px;
  margin: 0px;
}
