<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="libs/Materialize/dist/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body ng-app="app">
	<div class="main" ng-controller="mainController">
		<div class="row main-row">
			<div class="col s6 main-left">
				<div class="row requirement-card">
					<div class="col s12 m12">
						<div class="card-panel white">
							<ul class="collection">
								<li class="collection-item indigo white-text title">Funcionalidades</li>
								<li class="collection-item" ng-repeat="item in functionalities.items" ng-class="{selected : item.selected}">
									<span class="grey-text text-darken-4">{{item.description}}</span>
									<div class="switch">
										<label>
											<input type="checkbox" ng-model="item.selected">
											<span class="lever"></span>
										</label>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>	
			<div class="col s6 main-right white">
				<table class="highlight">
					<thead>
						<tr>
							<th data-field="id">Descripción</th>
							<th data-field="name">Horas</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="item in functionalities.items | filter:{selected:true}">
							<td>{{item.description}}</td>
							<td>{{item.hours}}</td>
						</tr>
						<tr class="total">
							<td>Total</td>
							<td>{{totalHours()}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/Materialize/dist/js/materialize.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>